.maincontaint{
    font-size: 30px;
    color: black;
    position: absolute;
    top: 40%;
    left: 40%;
    letter-spacing: 4px;
    text-align: center;
    line-height: 1.5;
}

.buttonSize{
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.answers {
    display: flex;
    flex-wrap: wrap; /* 允许换行 */
    justify-content: center; /* 在水平方向上居中 */
}

.answer {
    width: 30%;
    height: 30%;
}

.question{
    justify-content: center;
    width: 70%;
    height: 70%;
}

.content{
    margin-top: 10px;
}